{% set networkData = _Network.getNetworkData() %}

{% set blogInfo = _Blog.getBlog() %}
{{ set(this, 'title', blogInfo.title) }}


{{this.registerJs("CardController();")}}
{# {{this.registerJs("BlogController();")}} #}


    {% set sections =  {
            "livingroom": {
                "feed": "",
                "link": "",
                "limit": 2,
                "id" : ""
            },
            "viewingroom": {
                "feed": "",
                "link": "",
                "limit": 2,
                "id" : ""
            },
            "sportsroom": {
                "feed": "",
                "link": "",
                "limit": 2,
                "id" : ""
            },
            "the americas": {
                "feed": "",
                "link": "",
                "limit": 2,
                "id" : ""
            },
        }
    %}

    {% for key, value in sections %}
        {% for blog in networkData.networkBlogs %}
            {% if blog.title | lower == key %}
                {% set sections = sections | merge({
                    (key) : {
                        'feed': _Blog.getBlogFeed({'limit': value['limit'], 'offset': 0, 'blogid':blog.guid}),
                        'link' : blog.link,
                        'id' : blog.guid
                        }
                    }) %}
            {% endif %}
        {% endfor %}
    {% endfor %}

 
    
        <section class="home-page-content">
            <div class="container section">
                <div class="row header">
                    <div class="col-sm-12">
                        <h2>Global Spotlight</h2>
                        <h1>{{blogInfo.title | upper}}</h1>
                    </div>
                </div>


                {% if blogInfo.shortDescription %}
                <div class="row description">
                    <div class="col-sm-12 col-md-8">
                        <p>{{blogInfo.shortDescription}}</p>
                    </div>
                </div>
                {% endif %}


                <div class="row">
                    

                    <div class="col-sm-12 main-content">


                        {% for key, value in sections %}
                            {% if sections[key].feed.articles|length > 0 %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1>{{key}}</h1>
                                    </div>

                                    <div class="col-md-8">
                                        {% if sections[key].feed.articles[0] %}                                                                
                                            {{this.render('partials/_single-article.twig', {article: sections[key].feed.articles[0], containerClass: 'card-lg'}) | raw}}
                                        {% endif %}
                                    </div>
                                    
                                    <div class="col-md-4">
                                        {% if sections[key].feed.articles[1] %}                                                                
                                            {{this.render('partials/_single-article.twig', {article: sections[key].feed.articles[1], containerClass: 'card-sm'}) | raw}}
                                        {% endif %}
                                    </div>
                                </div><!-- .card-group-->
                            {% endif %}


                        {% endfor %}

                    </div><!-- .col-sm-8-->







            </div><!-- .container-->
        </section><!-- .home-page-content-->



