{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}

{% macro smartquotes(text) %}
    {{text|replace({'/[^"]/': '&ldquo;', "/[^'']/": '&lsquo;', "'": '&rsquo;', '"': '&rdquo;'})}}
{% endmacro %}


{{this.registerJs("CardController();")}}

{% set limit = 7 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

{# {% set recentArticles = _Article.getRecentArticles({'limit': 5}) %} #}
{# {% set popularArticles = _Article.getPopularArticles({ limit: 4, sortBy: 'VIEWS' }) %} #}

    {% set sections =  {
            "social": {
                "feed": "",
                "link": "",
                "limit": 4,
                "id" : ""
            }, 
            "gallery": {
                "feed": "",
                "link": "",
                "limit": 12,
                "id" : ""
            }
        }
    %}

    {% for key, value in sections %}
        {% for blog in networkData.networkBlogs %}
            {% if blog.title | lower == key %}
                {% set sections = sections | merge({
                    (key) : {
                        'feed': _Blog.getBlogFeed({'limit': value['limit'], 'offset': 0, 'blogid':blog.guid}),
                        'link' : blog.link,
                        'id' : blog.guid
                        }
                    }) %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    <main id="main" class="site-main" role="main">
        

        {% if articles|length > 0 %}

{#         {% if articles[0].articleId > 0 %}
            {% set articleImg = _Media.getMediaUrl(articles[0].featuredMedia,imgWidth, imgHeight, {'crop': 'fill', 'gravity': 'faces'} ) %}
        {% elseif articles[0].socialId == "1" %}
            {% set articleImg = articles[0].social.media['path'] %}
        {% endif %}
        <div class="banner-image image-wrapper tintGradient" style="background-image:url('{{articleImg}}');"></div>
 #}
        <section class="featured-slider test2">
            <div class="">
                <h1>TESTING</h1>
                {% if articles[0] %}                                                                
                    {{this.render('partials/_single-article.twig', {article: articles[0], position: 1, containerClass: 'swiper-slide s1168x587'}) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endif %}
            </div><!-- .swiper-container-->
        </section><!-- .featured-slider-->
        {% endif %}

        <section class="home-page-content container">

            <div class="row index-top">

                <div class="col-sm-12 col-md-8 main-content">
                    {% for i in 0..4 %}
                        {% if articles[articleCount] %}                                                                
                            {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: 'card-rec'}) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    {% endfor %}
                

                    {{ this.render('partials/ajaxarticles.twig', {
                        limit: limit, 
                        non_pinned: articlesArr.existingNonPinnedCount, 
                        articles: sections['social'].feed,
                        card_style: "col-sm-4 card-sm",
                        container:"mainAjaxArticles"
                    }) | raw }}

                </div><!-- .col-sm-8-->


                <div class="col-sm-12 col-md-4 sidebar">

                    <section class="row sidebar-news">


                        <div class="col-sm-12 sidebar-top">
                            <div class="row">
                                <header>
                                    <h3>Social</h3>
                                </header>
                                {% if sections['social'].feed.articles|length > 0 %}
                                    {% for i in 0..3 %}
                                        {% if sections['social'].feed.articles[i] %}
                                            {{this.render('partials/_single-article.twig', {article: sections['social'].feed.articles[i], swap: 'false', containerClass: 'col-xs-12 col-sm-6 col-md-12 s100x110', swap: 'false'}) | raw}}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-sm-12 sidebar-bottom">
                            <div class="row">
                                {% for i in 0..1 %}
                                    {% if articles[articleCount] %}                                                                
                                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: 'col-xs-12 col-sm-6 col-md-12 card-sm'}) | raw}}
                                        {% set articleCount = articleCount + 1 %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div> 
                    </section><!-- .sidebar-news -->





                </div><!-- .col-sm-4-->

                <div style="clear:both"></div>


            </div><!-- .row-->


            {% if sections['gallery'].feed.articles|length > 0 %}
            <div class="row index-bottom">
                <div class="col-sm-12">
                    <div class="row gutter-60">
                        <div class="col-sm-12">
                            <h3>The Gallery</h3>
                        </div>

                        {% for i in 0..3 %}
                            {% if sections['gallery'].feed.articles[i] %}                                                                
                                {{this.render('partials/_single-article.twig', {article: sections['gallery'].feed.articles[i], swap: 'false', containerClass: 'col-xs-6 col-md-3 card-sm'}) | raw}}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


            {#                 {{ this.render('partials/ajaxarticles.twig', {
                                limit: sections['gallery'].limit,
                                non_pinned: articlesArr.existingNonPinnedCount, 
                                articles: sections['gallery'].feed,
                                card_style: "col-sm-3 card-sm",
                                container:"galleryAjaxArticles",
                                blogid: sections['gallery'].id
                            }) | raw }}

             #}                

            
            {% endif %}
            




        </section><!-- .home-page-content-->


    </main><!-- .site-main -->